// stylelint-disable declaration-no-important, selector-list-comma-newline-after

//
// Headings
//

.nnp-h1 {
  font-size: 28px;
  font-weight: 600;
}

.nnp-h2 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}

.nnp-h3 {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

@include media-breakpoint-up(sm) {
  .nnp-h1 {
    margin-bottom: 40px;
    font-size: 36px;
  }
  .nnp-h2 {
    margin-bottom: 40px;
    font-size: 26px;
  }
  .nnp-h3 {
    font-size: 24px;
  }
}

//
// Emphasis
//

small,
.small {

}

mark,
.mark {

}


//
// Lists
//

.list-unstyled {

}
