.section-question {

  @include media-breakpoint-up(sm) {
    .nnp-h2 {
      font-size: 36px;
    }
  }

  @include media-breakpoint-up(lg) {
    .nnp-container {
      padding-right: 250px;
    }
  }
}

.card {
  border-bottom: 1px solid rgba(#000, .1);
}
.card:last-child  {
  border-bottom: none;
}

.card-header {
  position: relative;
  padding: 20px 50px 20px 0;
}

.card-body {
  padding: 10px 20px 20px 0;
}

@include media-breakpoint-up(sm) {
  .card-header {
    padding: 20px 100px 20px 0;
  }
  .card-body {
    padding-right: 50px;
  }
}