<footer class="nnp-footer">
  <div class="nnp-container">
      <div class="nnp-footer__descr">
          Если у вас остались вопросы позвоните по номеру
          <a href="tel:+78002004334" class="nnp-footer__link">+7 800 200-43-34</a>
          или&nbsp;напишите&nbsp;в&nbsp;чат&nbsp;справа
        </div>
  </div>
</footer>