<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="css/style.css?{{ date().getTime() }}">
</head>
<body>

{% set title = "Twig.js templating test" %}

{% block content %}{% endblock %}

{% include 'footer.twig' %}

<script src="js/index.js?{{ date().getTime() }}"></script>
</body>
</html>
