{% extends './inc/page.twig' %}

{% block content %}

	<h1>Webpack 3! Twig</h1>
	<div class="img-bg"></div>

	<a href="components.html">Components!</a>
	{% include '../styles/images/9.svg' %}
{% endblock %}
