{% extends './inc/page.twig' %}

{% block content %}

  <section class="nnp-pale-gray pt-lg-5">
    <div class="nnp-container">
      <div class="nnp-intro">
        <h1 class="nnp-h1">Бесплатная консультация врача в WhatsApp</h1>
        <img src="images/WhatsApp2.jpg" alt="img" class="nnp-intro__pic">
        <p class="nnp-p">
          Получите дополнительную информацию о своем здоровье или методах лечения до очного визита в клинику.
        </p>
      </div>
    </div>
  </section>

  <section class="nnp-ice-blue pt-sm-2">
    <div class="nnp-container">
      <h2 class="nnp-h2">Консультируйтесь с опытными специалистами</h2>

      <ul class="nnp-list-default nnp-list-double">
        <li>
          <h3 class="nnp-h3">Репродуктолог</h3>
          <p class="nnp-p">
            Если вы не можете забеременеть более 1 года или полугода, если вы старше 30 лет. Если вам уже показано ЭКО, посоветуйтесь с врачом относительно видов протоколов, подробностей и особенностей проведения процедуры.
          </p>
        </li>
        <li>
          <h3 class="nnp-h3">Хирург</h3>
          <p class="nnp-p">
            Вы можете обсудить с врачом предстоящую операцию, (лапароскопия, гистероскопия, удалений образований и синехии) посоветоваться относительно анализов и назначений.
          </p>
        </li>
      </ul>

    </div>
  </section>

  <section class="pt-sm-3">
    <div class="nnp-container">
      <h2 class="nnp-h1">Выберите врача</h2>

      <div class="nnp-btn-group mt-2">
        <button class="nnp-btn">Все</button>
        <button class="nnp-btn is-active">Репродуктологи</button>
        <button class="nnp-btn">Гинекологи-хирурги</button>
      </div>

      <ul class="nnp-list-default nnp-list-person">
        <li>
          <div class="nnp-person">
            <div class="nnp-person-left">
              <img src="images/1.jpg" alt="" class="nnp-person__pic">
            </div>
            <div class="nnp-person-right">
              <div class="nnp-person__title">Гимадеева Эльвира Радыковна</div>
              <div class="nnp-person__state">врач-репродуктолог</div>
              <div class="nnp-person-links">
                <a href="#" class="nnp-btn-link">Начать консультацию</a>
                <a href="#" class="nnp-person__link">подробнее о враче</a>
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="nnp-person">
            <div class="nnp-person-left">
              <img src="images/2.jpg" alt="" class="nnp-person__pic">
            </div>
            <div class="nnp-person-right">
              <div class="nnp-person__title">Нуриев Нияз Ильясович</div>
              <div class="nnp-person__state">врач-репродуктолог</div>
              <div class="nnp-person-links">
                <a href="#" class="nnp-btn-link">Начать консультацию</a>
                <a href="#" class="nnp-person__link">подробнее о враче</a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="section-question nnp-pale-orange pt-lg-3">
    <div class="nnp-container">
      <h2 class="nnp-h2">Ответы на вопросы о WhatsApp консультации</h2>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <div class="btn btn-collapse" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                Как подготовиться к консультации?
                <div class="i-state"></div>
              </div>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <div class="btn btn-collapse" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                На какие вопросы отвечает врач?
                <div class="i-state"></div>
              <div/>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <div class="btn btn-collapse" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Присылает ли врач отчет, заключение о консультации?
                <div class="i-state"></div>
              </div>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingFour">
            <h5 class="mb-0">
              <div class="btn btn-collapse" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Обязательно ли наличие смартфона для проведения консультации?
                <div class="i-state"></div>
              </div>
            </h5>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
            <div class="card-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}